* {
    box-sizing: content-box;
}
html {
    overflow-x: hidden;
}
body {
    margin:0%;
    padding:0%;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.content-spacing {
    padding: 20px 10px;
}
.effectframewrap {
    /*background-image: url(glitch.png);*/
    background-attachment: fixed;
    position:relative;
    width: 100%;
}

.effectframe {
    position:fixed;
    left: -5px;
    width: 0;
    max-width: 100vw;
    height: 0;
    border-bottom: 100vh solid black;
    border-right: 100vw solid transparent;
    z-index: 20;
    animation: scrollpartleft 1s linear;
}

.effectframe2 {
    position: fixed;
    right: -5px;
    width: 0;
    height: 0;
    border-bottom: 100vh solid black;
    border-left: 100vw solid transparent;
    z-index: 20;
    animation: scrollpartright 1s linear;

}

@keyframes scrollpartleft {
    to{
        transform: translateX(-250rem);
    }
}
@keyframes scrollpartright {
    to{
        transform: translateX(250rem);
    }
}

/* SECTIONS */

#section1 {
    padding: 5px;
    min-height: 50vh;
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,209,220,1), rgba(233,211,255,1),rgba(255,209,220,1), rgba(233,211,255,1));

    background-attachment: fixed;
    background-position: center;
    background-size: 300% 100%;
    animation: oscillate 5s infinite linear;
}

#TITLE {
    background-color: white;
    position: sticky;
    font-size: 130pt;
    font-family: MetalShow;
    z-index: 30;
    margin: 0 auto;
    margin-bottom: 10vh;
    max-width: 50rem;
    top: 15vh;
    text-align: center;
    border-radius: 200%;
    box-shadow: 2px 14px 50px 27px #FFFFFF, inset 1px 14px 50px 27px #FFFFFF;
    float: none;
}

#section2 {
    background-color: rgb(253, 231, 245);
    width: 100vw;
    z-index: 1;
    display: flex;
}

#aboutbox {
    /* padding-left: 1em;
    padding-right: 3em;
    margin:auto;
    display: inline-block;
    position: relative;
    max-width: 40%; */
    color: rgb(0, 0, 0);
    font-size: 30pt;
    text-align: center;
    flex: 1;
    vertical-align: middle;
}

#skills {
position: relative;
display: inline-block;
margin: auto;
font-size: 2rem;
/* max-width: 50%; */
flex: 1;
}

#skills ul {
list-style: none;
padding: 1rem;
}

#skills li {
padding: 8px;
}

#section3 {
    background: linear-gradient(90deg, rgba(255,209,220,1), rgba(233,211,255,1),rgba(255,209,220,1), rgba(233,211,255,1));
    background-attachment: fixed;
    background-size: 300% 100%;
    width: 100%;
    min-height: 70vh;
    animation: oscillate 5s infinite linear;
    overflow-x: hidden;
}

.grid{
    background-image: url(../img/mesh.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

#section4 {
    background-color: rgb(48, 44, 46);
    bottom: 0px;
    text-align: center;
    color: rgb(253, 231, 245);;
    box-sizing: border-box;

}
#section4 h1{
    margin-top: 4vh;
    display:inline-block;
    font-size: 50pt
}

#section4 p{
    font-size: 20pt;
    width: 80%;
    margin: 0 auto;
}

#section4 a:hover{
    color: #9a6ec5;
}

.ham {
    position:fixed;
    z-index: 100;
    top: 2rem;
    left: 2rem;
    border:white solid 1px;
    background:#FFD1DC;
    cursor: pointer;
}

.xIcon {
    display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: black;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 50;
  display: inline-block;
}

.showMenu {
    transform: translateX(0);
}

.menuLink {
    border-bottom: white solid 1px;
}
.hovermenu  {
    position: fixed;
    display: inline-block;
    top: 0%;
    right: 0%;
    z-index: 40;
}
.dropbtn {
    position: absolute;
    padding: 10px;
    border-radius: 150%;
    width: 50px;
    height: 50px;
    top: 6vh;    
    right: 10vw;
    margin: 20px;
    background-color: rgba(255,209,220,1);
    white-space: nowrap;
    overflow: hidden;
    z-index: 30;
    border: solid white 1px;
    animation: fadeIn 3s;
}

.dropbtn > .line {
    background-color: #696565;
    height: 2px;
    display: block;
}
.dropbtn > .line + .line {
    margin-top: 8px;
}

.mainmenu {
    display: none;
    position: absolute;
    width: 22vw;
    min-width: 15rem;
    height: 100vh;
    top: 0%;
    right: 5vw;
    float: none;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 40;
    animation: fadeIn 1s;
    -webkit-box-shadow: 7px 6px 38px 5px rgba(227, 187, 255, 0.568); 
    box-shadow: 7px 6px 38px 5px rgba(255, 255, 255, 0.3);
}

.mainmenu a {
    width: 20vw;
    float: none;
    clear: both;
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.mainmenu ul {
    list-style: none;
    margin-top: 30px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding: 0;
}

.mainmenu li {
    padding: 10%;
    border-bottom: solid rgba(184, 183, 183, 0.8);
    border-width: 1px 1px;
    margin-right: 1px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes oscillate {
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 100% 0;
    }
}
.hovermenu:hover .mainmenu {
    display: block;
}


@font-face {
    font-family: MetalShow;
    src: url(../fonts/MetalShow.ttf);
}

:root .effectframe  {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  :root .effectframe2  {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
   /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

/* FOOTER STUFF */

  footer{
      background: linear-gradient(90deg, rgba(255,209,220,1), rgba(233,211,255,1),rgba(255,209,220,1), rgba(233,211,255,1));
      background-size: 300% 100%;
      padding: 2em;
      margin: auto;
      animation: oscillate 5s infinite linear;
      display: table;
      width: 100vw;
  }

  #social-links {
      float: left;
  }
  footer img{
    width: 3vw;  
    min-width: 50px;
    padding: 10px 0;
  }

  footer form{
      left: 3vw;
      top: 6vw;
      position: relative;
      font-size: 16pt;
  }


  #CREATED{
      font-size: 25pt;
      text-align: right;
      padding-left: 0;
  }
  
  #CREATED a {
    color: #0000EE;
  }

  #CREATED a:hover {
    color: whitesmoke;
  }

  @media only screen and (max-width: 600px) {
  #TITLE {
      font-size: 60pt;
  }
  #CREATED {
    text-align: left;
    font-size: 16pt;
    overflow-x:hidden;
  }
}